#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

source "module/ampsdk/kconfig/audio/Kconfig.audio.aenc.impl"

comment "Supported Formats"
