### Generate TZ Boot Parameters

pushd ${module_topdir}

### by default, boot with tee is enabled

if [ "is${CONFIG_RDK_SYS}" != "isy" ]; then
  cmake -DPLATFORM=${syna_chip_name}/${boot_seclvl}/${tz_memlayout} \
        -DBERLIN_CHIP=${syna_chip_name} \
        -S ${module_topdir}/tools/gen_boot_param \
        -B ${opt_outdir_intermediate}/gen_boot_param

  make -C ${opt_outdir_intermediate}/gen_boot_param

  ${opt_outdir_intermediate}/gen_boot_param/gen_boot_param ${opt_outdir_intermediate}/bootparam.bin
  ${opt_outdir_intermediate}/gen_boot_param/gen_boot_param_recovery ${opt_outdir_intermediate}/bootparam_recovery.bin
else
  gen_boot_param ${opt_outdir_intermediate}/bootparam.bin
  gen_boot_param_recovery ${opt_outdir_intermediate}/bootparam_recovery.bin
fi

f_mr_config=${module_topdir}/products/${syna_chip_name}/${boot_seclvl}/${tz_memlayout}/mr_config
if [ -f ${f_mr_config} ]; then
  diff ${f_mr_config} ${opt_outdir_intermediate}/bootparam.bin.mr || {
  echo "Warning: inconsistent tee mr config file ${f_mr_config}"
  cp ${opt_outdir_intermediate}/bootparam.bin.mr ${f_mr_config} -v
  }
else
  cp ${opt_outdir_intermediate}/bootparam.bin.mr ${f_mr_config} -v
fi

if [ ${tz_rel_ver} == 2 ]; then
  source ${module_build_topdir}/script/common.rc
  gen2_secure_image bparam ${opt_outdir_intermediate}/bootparam.bin ${opt_outdir_intermediate}/bootparam_en.bin
  gen2_secure_image bparam ${opt_outdir_intermediate}/bootparam_recovery.bin ${opt_outdir_intermediate}/bootparam_recovery_en.bin
fi

if [ ${tz_rel_ver} == genx ]; then
  source ${module_build_topdir}/script/common.rc
  source ${module_build_topdir}/script/parse_addr.rc
  if [ "is${CONFIG_OPTEE}" != "isy" ]; then
    ${security_tools_path}in_extras.py "TZK_BOOT_PARAMETER" ${opt_outdir_intermediate}/boot_param_extras.bin 0x00000000 ${tzbp_addr}
    genx_secure_image "TZK_BOOT_PARAMETER" ${opt_outdir_intermediate}/boot_param_extras.bin 0x0 ${opt_outdir_intermediate}/bootparam.bin ${opt_outdir_intermediate}/bootparam_en.bin
    genx_secure_image "TZK_BOOT_PARAMETER" ${opt_outdir_intermediate}/boot_param_extras.bin 0x0 ${opt_outdir_intermediate}/bootparam_recovery.bin ${opt_outdir_intermediate}/bootparam_recovery_en.bin
  else
    ${security_tools_path}in_extras.py "TZK_BOOT_PARAMETER" ${opt_outdir_intermediate}/boot_param_extras.bin 0x00000000 ${tzbp_addr}
    genx_secure_image "TZK_BOOT_PARAMETER_OPEN" ${opt_outdir_intermediate}/boot_param_extras.bin 0x0 ${opt_outdir_intermediate}/bootparam.bin ${opt_outdir_intermediate}/bootparam_en.bin
    genx_secure_image "TZK_BOOT_PARAMETER_OPEN" ${opt_outdir_intermediate}/boot_param_extras.bin 0x0 ${opt_outdir_intermediate}/bootparam_recovery.bin ${opt_outdir_intermediate}/bootparam_recovery_en.bin
  fi
fi

popd
