choice  
        prompt "Target SoC"
        default BERLIN_PLATYPUS_A0

config BERLIN_AS470_A0
        bool "BERLIN AS470 A0"

config BERLIN_DOLPHIN_Z1
        bool "BERLIN DOLPHIN Z1"

config BERLIN_PLATYPUS_A0
        bool "BERLIN PLATYPUS A0"

config BERLIN_DOLPHIN_A0
        bool "BERLIN DOLPHIN A0"

config BERLIN_MYNA2_A0
        bool "BERLIN MYNA2 A0"

config BERLIN_KLAMATH
        bool "BERLIN KLAMATH"

config DVF101
        bool "DVF101"

config DVF99
        bool "DVF99"

config DVF9918
        bool "DVF9918"

config DVF9928
        bool "DVF9928"

config DVF97
        bool "DVF97"
endchoice
